PONTO_USERNAME=
PONTO_PASSWORD=

DISCORD_TOKEN=
DISCORD_USER_ID=

URL_BASE=

SENDER=

URL_EMAIL="https://mail.google.com/mail"
RECIPIENT=pessoal@crecisp.gov.br

# DEBUG_MODE=1
# HOLIDAYS_COUNTRY=BR
# HOLIDAYS_SUBDIV=SP
